# Environment variables and secrets
.env
.env*
RSA/
*.key
*.pem

# Backups and Git-in-Git
*.git
*.zip
*.rar
*.bak
apricart-backup.git/

# Logs and large output files
nohup.out
*.log
/logs/
var/lucene/indexes/


# IDEs
# STS / Eclipse
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# OS & logs
.DS_Store
*.zip
*.rar
*.log
/logs/
*.gz